<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handy Helper Dashboard</title>
</head>
<body>
    <h1>Hello {{request.session.f_name}}!</h1>
    <h3>Everyone's jobs: </h3>
    <table>
        <tr>
            <th>Job</th>
            <th>location</th>
            <th>Actions</th>
        </tr>
        {% for job in all_jobs %}
        <tr>
            <th>{{job.title}}</th>
            <th>{{job.location}}</th>
            <th>
                <a href="{% url 'job_desc' job.id %}">View</a>
                {% if request.session.user_id == job.user.id %}
                    <a href="{% url 'job_delete' job.id %}">Remove</a>
                    <a href="{% url 'job_edit' job.id %}">Edit</a>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </table>
    <a href="/logout">Log Out</a>
    <a href="{% url 'job_add' %}">New Job!</a>
</body>
</html>