{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handy Helper Dashboard</title>
    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav role="navigation" class="topnav">
        <a href="#" id="greet" class="active"><h1>Hello {{request.session.f_name}}!</h1></a>
        <a href="{% url 'job_add' %}" class="active">Add a New Job!</a>
        <a href="/logout">Log Out</a>
    </nav>
    <h3>Everyone's jobs: </h3>
    <!-- <table>
        <tr>
            <th>Job</th>
            <th>location</th>
            <th>Actions</th>
        </tr>
        {% for job in all_jobs %}
        <tr>
            <th>{{job.title}}</th>
            <th>{{job.location}}</th>
            <th>
                <a href="{% url 'job_desc' job.id %}">View</a>
                {% if request.session.user_id == job.user.id %}
                    <a href="{% url 'job_delete' job.id %}">Remove</a>
                    <a href="{% url 'job_edit' job.id %}">Edit</a>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </table> -->

    <div class="container">
        <div class="grid">

            <div class="content">
                <ul class="rig columns-4">
                    {% for job in all_jobs %}}
                        <li>
                            {% if request.session.user_id == job.user.id %}
                            <p class="tag">This job's yours!</p>
                            {% endif %}
                            <label for="title">Job:</label>
                            <h4 name="title">{{job.title}}</h4>
                            <label for="location">Location:</label>
                            <p name="location">{{job.location}}</p>
                            <hr>
                            {% if request.session.user_id == job.user.id %}
                                <button class="btn btn-default btn-xs pull-right" type="button">
                                    <a href="{% url 'job_delete' job.id %}">Remove</a>
                                </button>
                                <button class="btn btn-default btn-xs pull-right" type="button">
                                    <a href="{% url 'job_edit' job.id %}">Edit</a>
                                </button>
                            {% endif %}
                            <button class="btn btn-default btn-xs pull-left" type="button">
                                <a href="{% url 'job_desc' job.id %}"><i class="fa fa-eye"></i>View</a>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    
            
        </div>
    </div>
</body>
</html>