{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    {% block content %}

    <h1>Add a New Show</h1>
    <form action="/add_a_show" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="network">Network</label>
        <input type="text" name="network">
        <label for="rel_date">Release Date</label>
        <input type="date" name="rel_date">
        <label for="desc">Description</label>
        <input type="text" name="desc">
        <button type="submit">Create</button>
    </form>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <a href="/">Go Back</a>
    
    {% endblock content %}
</body>
</html>